// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$beige: #FEFBEC;
$orange: #FF5C01;
$grey: #8E8E8E;
$brown: #AC9470;
$dark: #665b50;
